@model IList<IntelliPix.Models.BlobInfo>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row margin-top">
    <div class="col-sm-8">
        <form asp-controller="Home" asp-action="Upload" method="post">
            <div class="input-group">
                <label class="input-group-btn">
                    <label class="btn btn-primary btn-file btn-lg">
                        Upload a photo <input type="file" style="display: none;">
                    </label>
                </label>
                <input type="text" class="form-control text-lg" readonly>
            </div>
        </form>
    </div>
    <div class="col-sm-3">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="row margin-top">
    @foreach (var blob in Model)
    {
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="@blob.ImageUri" title="@blob.Caption" />
            </a>
        </div>
    }
</div>